# Ignore unit-test coverrage report
coverage_report.out

# Ignore the generated kind-config yaml.
/test/integration/kind-config.yaml

# Ignore the unit-test conf files
/pkg/csi/service/vanilla/test_vsphere.conf
/pkg/csi/service/wcp/test_vsphere.conf
/pkg/syncer/test_vsphere.conf

# Ignore the build output.
/.build

# Ingore project specific setting files created by Intellij IDE and VS Code
/.idea
/.vscode

# Ignore the environment variable and Prow configuration files at
# the root of the project.
/config.env
/prow-config-env.yaml

# Ignore marker files.
**/*.d

# Ignore any Dockerfiles at the root of the project.
/Dockerfile*

# Ignore vendor at the root of the project.
/vendor

# OSX trash
.DS_Store

# Go test binaries
*.test

# Test reports
junit_check.xml
/tests/e2e/junit.xml

# binaries
/vsphere-csi
/vsphere-csi.linux_amd64

